.home-container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: 120px;
	width: 100vw;
	height: 100vh;
}

.home {
	width: 80vw;
	height: 60vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.3fr 2.5fr 0.2fr;
	gap: 0px 30px;
	grid-template-areas: "header header header" "left main right" "footer footer footer";
}

.header {
	grid-area: header;
}

.left {
	grid-area: left;
}

.main {
	grid-area: main;
}

.right {
	grid-area: right;
}

.footer {
	grid-area: footer;
	text-align: left;
	margin: 0;
}

.left {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	/* border: 1px solid grey; */
	/* grid-gap: 10px; */
	grid-gap: 10px;
}

.right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-areas: "image-tl image-tr" "copy image-m" "copy image-b";
}
.copy {
	grid-area: copy;
	margin-left: 10px;
}
.image-tl {
	grid-area: image-tl;
	margin-left: 10px;
}
.image-tr {
	grid-area: image-tr;
	margin-left: 10px;
}
.image-m {
	grid-area: image-m;
	margin-left: 10px;
}
.image-b {
	grid-area: image-b;
	margin-left: 10px;
}

h1 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: black;
	font-size: 80px;
	right: 14.5vw;
	margin: 0;
	text-align: right;
}
.mexico {
	width: 100%;
}
.left img {
	width: 95%;
}
.right img {
	width: 95%;
}
.right {
	margin-left: 5px;
}

div.homeDek.copy {
	display: flex;
	position: relative;
	text-align: left;
	align-items: stretch;
	margin: 0;
}
.help {
	position: absolute;

	margin-top: -30px;
	margin-left: 10px;
}
h4 {
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 22px;
}
span.intro {
	font-weight: 600;
	margin: 0;
	line-height: 0;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: franklin-gothic-atf, sans-serif;
}
.signUpBtn {
	position: absolute;
	width: 94%;
	background: black;
	color: white;
	font-size: 15px;
	bottom: 0;
	font-weight: 500;
	font-family: franklin-gothic-atf, sans-serif;
	padding: 0;
}
h2.grid-5.footer {
	font-size: 15px;
}

/* .main {
	display: flex;
	overflow-x: auto;
	/* scroll-snap-points-x: repeat(300px); */
/* scroll-snap-type: mandatory; */
/* }  */
/* .main > div {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
} */
/* Hide scrollbar for Chrome, Safari and Opera */
/* .main::-webkit-scrollbar {
	display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .main {
	-ms-overflow-style: none; /* IE and Edge */
/* scrollbar-width: none; Firefox */
/* }  */
