#navbar {
  width: 95%;
  height: 155px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  display: flex;
  background-color: white;
  margin-bottom: 25%;

}

.navbar-words ul {
  align-items: center;
  height: 100%;
  list-style: none;
  display: flex;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#navbar  a:hover {
  color: grey;
}

#navbar  a:focus {
  color: grey;
}

#navbar  a:active {
  color: grey;
}


a.navbar-logo  {
  /* height: 100%;
  width: 100%; */
  margin-top: 3.5%;
  margin-left: 6.5%;
  display: block;
}

.navbar-words li {
  padding: 0 1rem;
}

 .spacer {
  flex: 1;
}

@media (max-width: 768px){
  .navbar-words {
    display: none;
  }
}

@media (min-width: 769px){
  .mobile-navbar-button {
    display: none
  }
}
@media screen and (min-width: 1300px) {
  #navbar {
    height: 170px;
  }

}
