#navbar {
  width: 96%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  display: flex;

}

.navbar-words ul {
  align-items: center;
  height: 100%;
  list-style: none;
  display: flex;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#navbar  a:hover {
  color: grey;
}
#navbar  a:focus {
  color: grey;
}


a.navbar-logo  {
  /* height: 100%;
  width: 100%; */
  margin-top: 3%;
  margin-left: 5%;
  display: block;
}

.navbar-words li {
  padding: 0 1rem;
}

 .spacer {
  flex: 1;
}

@media (max-width: 768px){
  .navbar-words {
    display: none;
  }
}

@media (min-width: 769px){
  .mobile-navbar-button {
    display: none
  }
}
