.box {
  /* width: 150p */
  width: 33.33%;
  /* height: 150px; */
  /* width: 33%;
  height: 33%; */
  /* display: block; */
  margin: .5%;

}

.box {
  color:white;
  font-size: 100px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
}

.box1 { background:#1abc9c;}
.box2 { background:#3498db;}
.box3 { background:#9b59b6;}
.box4 { background:#34495e;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#e74c3c;}
.box8 { background:#bdc3c7;}
.box9 { background:#2ecc71;}
.box10 { background:#16a085;}


.prints-grid {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  height:100vh;

}
.box1 {
  flex-basis: 90%;
}

/* .container {
  display:flex;
  border:10px solid mistyrose;
  height:100vh;
  align-items:flex-start;
} */
