
.resp-image {
  max-width: 100%;
}

.box {
  margin: 1rem;
}


.prints-grid {
  margin: 0 auto;
  /* max-width: 1200px;
  padding: 0 1rem; */

}
.box img {
  display: block;
}

@media screen and (min-width: 600px) {
  .prints-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .box {
    width: calc(50% - 2rem);
  }
  .container {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 900px) {
  .box {
    width: calc(33.3333% - 2rem);
  }
}

@media screen and (min-width: 1300px) {
  .box {
    width: calc(25% - 2rem);
  }
  .container {
    margin-bottom: 50px;
  }
}
