.App {
  text-align: center;
}
.box {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  /* position: absolute; */
  z-index: 1;
}
/* .carousel-wrapper {
  margin-top: 10%;
} */
