.App {
  text-align: center;
}
.container {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  z-index: 1;
}
.secondary-wrapper {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;

}
