.App {
  text-align: center;
}
.box {
  height: 60px;
background-color: yellow;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  position: absolute;
  z-index: 1;
}

.parent {
	background: white;
}
.carousel-wrapper {
  display: flex;
  width: 80%;
  height: 400px;
position: relative;
}
