/* html,
body,
#root,
.app {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
} */

/* .carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
	flex: 1 1 auto;
	background-color: black;
} */

/* .image-container {
	flex: 1 1 auto;
	min-width: 200px;
	min-height: 200px;
} */
